/.idea
/_mac
/out
/codestyles
*.iml
test.groovy
TestJava.java
colors.scheme.xml
databaseSettings.xml
debugger.renderers.xml
debugger.xml
editor.xml
filetypes.xml
find.xml
markdown.xml
notifications.xml
ui.lnf.xml
vcs.xml